body{
  font-family: sans-serif;
  background-color: #e9ece5;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  background-color: #c0dfd9;
}

.jumbotron {
  background-color: #c0dfd9;
}
